.footer {
	background-color: #D7EDF2;
}

.footer > * {
	display: inline-block;
}

.footer .agency-image {
	/*max-height: 15%;*/
	max-width: 20%;
}

.footer .contact-info {
	float: right;
	padding: 0% 5%;
	text-align: right;
}